Depricating User-Agent will break CyberSecurity Identificaiton and connection routing.

I do agree that reducing or breaking out the pieces from the User-Agent into separate headers may be advisable. But CyberSecurity directives require the fingerprinting of software and end-devices. Adoption of client-hints would be dependent on corporations allowing software strictly follwong that standard on their networks.

Corporate activities and infrastructure are subject to highly regulated oversight under Federal and several State regulatory agencies. the data networks and software are deemed vital infrastructures to region's critical infrastructure. Data traffic traversing this critical infrastructure must adhere to common standards, including the ability to identify, protect, detect, respond and recover. Please refer to the NIST CyberSecurity Framework.

Software must be able to self identify. For example, the HTTP standards (IETF RFC 2616 & RFC 7231) define "Product tokens" (IETF RFC 2616 Sec 3.8) "to allow communicating applications to identify themselves by software name and version." The primary example are a "User-Agent" (RFC 2616, section 14.43 & RFC 7231, section 5.5.3). While a clear-text User-Agent is "spoofable", A User-Agent can identify software source with a weak assurance level, but this is better than a without that would provide zero level of assurance. It can be used along *with other criteria* to IDENTIFY the true origin of the traffic or connection. An expected traffic profile can be developed to determine "expected behavior" and a PROTECTion profile. A deviation from that "expected behavior" can be used to DETECT abnormal behavior and execute automated RESPONSE and RECOVER activities.

One area where this is seen is RFC7230 Sec. 2.3 "a server MUST NOT assume that two requests on the same connection are from the same user agent unless the connection is secured and specific to that agent." Section 2.5.  " inspection of the User-Agent header field indicates a specific implementation version that is known to fail on receipt of certain content codings." Section 2.6 "downgrades SHOULD NOT be performed unless triggered by specific client attributes, such as when one or more of the request header fields (e.g., User-Agent) uniquely match the values sent by a client known to be in error."

For intermediary servers (forward proxies & load balancers) the presence of  the User-Agent allows to determine the client software for the applicability of applying routing rules prior to reaching the Origin Server (back-end). The only way to make the decision to route a specific connection to back-end origin server is via a User-Agent. Or in some cases, to know that the software client is about to initiate a non-HTTP protocol (Citrix ICA or Citrix CGP or MS RDP protocols) over the TLS tunnel (example in an HTTP CONNECT)

Case in point Trend Micro client software adds an encoded identifier (MAC Address) to the User-Agent in browsers to tag unique client connections. The Trend Micro proxy would need to remove  that identity and rewrite the header.

One possibility would be to change the expected behavior.
1. Make the User-Agent required header be sent by the client software (especially in the HTTP CONNECT method) but limit it to a hop-by-hop header instead of an end-to-end header. It would be optional for the intermediary server to either forward or rewrite or obfuscate a different User-Agent string to the next hop.
2. With the existence of obfuscation in #1, a client-hint header becomes more valuable. client-hint header should be end-to-end header (between client and origin server).




> Software must be able to self identify. For example, the HTTP standards (IETF RFC 2616 & RFC 7231) define "Product tokens" (IETF RFC 2616 Sec 3.8) "to allow communicating applications to identify themselves by software name and version." The primary example are a "User-Agent" (RFC 2616, section 14.43 & RFC 7231, section 5.5.3).

To be clear, this proposal does not alter the User-Agent headers ability to provide name and version, or to make it disappear entirely. We [published an update ](https://groups.google.com/a/chromium.org/g/blink-dev/c/e3pZJu96g6c/m/X9HcrSkVAgAJ) a while back that has more details on the timing and proposed shape of the UA string.

> Case in point Trend Micro client software adds an encoded identifier (MAC Address) to the User-Agent in browsers to tag unique client connections. The Trend Micro proxy would need to remove that identity and rewrite the header.

Is this Mac address sent in the UA string for all requests, if a user has this client software installed on their machine? Or just to certain hosts?

@mvjames2 any ideas about my question in the previous comment?

I'm going to close this due to lack of a response - but we can re-open. But again, the UA-CH draft spec does not require removing the User-Agent header.